<div id="calc-grid">
    @if (IsDisabledOne)
    {
        <img src="@($"../calculatorSprites/{one}")"
         id="@($"calc-one")" />
    }
    else
    {
        <img src="@($"../calculatorSprites/{one}")"
         id="@($"calc-one")"
         @onclick="async () => { await SwitchImageOne(); }" />
    }

    @if (IsDisabledTwo)
    {
        <img src="@($"../calculatorSprites/{two}")"
         id="@($"calc-two")" />
    }
    else
    {
        <img src="@($"../calculatorSprites/{two}")"
         id="@($"calc-two")"
         @onclick="async () => { await SwitchImageTwo(); }" />
    }
</div>

@code {
    private int SwitchDuration { get; set; } = 500;

    private bool IsDisabledOne = false;
    private bool IsDisabledTwo = false;

    private string one = "one.png";
    private string two = "two.png";

    private async Task SwitchImageOne()
    {
        IsDisabledOne = true;

        one = "AnimationOne.gif";

        await Task.Delay(SwitchDuration);

        one = "one.png";

        IsDisabledOne = false;
    }

    private async Task SwitchImageTwo()
    {
        IsDisabledTwo = true;

        two = "AnimationTwo.gif";

        await Task.Delay(SwitchDuration);

        two = "two.png";

        IsDisabledTwo = false;
    }

    private async Task<double> AdditionAsync(double x, double y)
        => await Task.Run(() => x + y);

    private async Task<double> SubtractionAsync(double x, double y)
        => await Task.Run(() => x - y);

    private async Task<double> MultiplicationAsync(double x, double y)
        => await Task.Run(() => x * y);

    private async Task<double> DivisionAsync(double x, double y)
        => await Task.Run(() => x / y);


}